@media screen and (max-width:800px){
        .storyContent{
		    width: 47%;
	       }
}
@media screen and (max-width:768px){
	.storyContent{
		    width: 47%;
	       }
}


@media screen and (max-width:640px){
        .menu ul li{
            margin-top: 0;
            margin-left: 0;
            float: left;
        } 
}

@media screen and (max-width:480px){
    .storyContent{
        width: 100%;
    }
    .contactForm{
        width: 100%;
    }
    .contactAddress{
        width: 100%;
    }
    
    .footerLeft{
        width: 50%;
    }
    .footerRight{
        width: 50%;
    }
}